.container{
    max-width: 800px;
    width: 100%;
    margin:0 auto;
    margin-top: 30px;
}
.main-image {
    width: 800px;
    height: 455px;
}
/* .logo {
    width: 40px;
    height: 40px;
} */

.social {
    height: 120px;
    border-bottom: 1px rgba(0,0,0,0.12) solid;
